version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: wedding_postgres
    restart: always
    environment:
      POSTGRES_DB: wedding_planner
      POSTGRES_USER: wedding_user
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
