version: "3.9"

services:

  postgres:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: wedding_planner
      POSTGRES_USER: wedding_user
      POSTGRES_PASSWORD: secret
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - traefik-net
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager

  app:
    image: anikondu87/wedding-app:latest
    restart: always
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/wedding_planner
      SPRING_DATASOURCE_USERNAME: wedding_user
      SPRING_DATASOURCE_PASSWORD: secret
    networks:
      - traefik-net
    deploy:
      replicas: 1
      restart_policy:
        condition: any
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.wedding.rule=Host(`wedding.hamsterdeal.ch`)"
        - "traefik.http.routers.wedding.entrypoints=websecure"
        - "traefik.http.services.wedding.loadbalancer.server.port=8080"

volumes:
  postgres_data:

networks:
  traefik-net:
    external: true
